.component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component-title {
  flex: 1;
}

.loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-left: 10px;
}
