<div class="component-header">
  <div class="component-title"><h1>Boeken</h1></div>
  <div>
    <button mat-raised-button color="primary" routerLink="./add">Boek toevoegen</button>
  </div>
</div>
<mat-table [dataSource]="books">
  <ng-container matColumnDef="titel">
    <mat-header-cell *matHeaderCellDef>Titel</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.titel }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="auteur">
    <mat-header-cell *matHeaderCellDef>Auteur</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.auteur }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="publicatiedatum">
    <mat-header-cell *matHeaderCellDef>Publicatiedatum</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.publicatiedatum }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['titel', 'auteur', 'publicatiedatum']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['titel', 'auteur', 'publicatiedatum']"></mat-row>
</mat-table>
<div *ngIf="isLoading" class="loading-div">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>
