<div class="component-header">
  <div class="component-title"><h1>Boeken</h1></div>
</div>

<form [formGroup]="addBookForm" (click)="onSubmit($event)">
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="standard">
        <mat-label>Titel</mat-label>
        <input matInput placeholder="Titel" formControlName="titel">
        <mat-error *ngIf="addBookForm.get('titel')?.hasError('maxlength')">Titel kan niet meer dan 50 karakters
          bevatten
        </mat-error>
        <mat-error *ngIf="addBookForm.get('titel')?.hasError('required')">Dit veld is verplicht
        </mat-error>
      </mat-form-field>&nbsp;
      <mat-form-field>
        <mat-label>Auteur</mat-label>
        <input matInput placeholder="Auteur" formControlName="auteur">
        <mat-error *ngIf="addBookForm.get('auteur')?.hasError('maxlength')">Auteur kan niet meer dan 50 karakters
          bevatten
        </mat-error>
        <mat-error *ngIf="addBookForm.get('titel')?.hasError('required')">Dit veld is verplicht
        </mat-error>
      </mat-form-field>&nbsp;
      <mat-form-field>
        <mat-label>Publicatiedatum</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" placeholder="Publicatiedatum"
               formControlName="publicatiedatum">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="addBookForm.get('publicatiedatum')?.hasError('matDatepickerParse')">
          Datum moet het volgende formaat bevatten MM/DD/JJJJ
        </mat-error>
        <mat-error *ngIf="addBookForm.get('publicatiedatum')?.hasError('required')">Dit veld is verplicht
        </mat-error>
        <mat-error *ngIf="addBookForm.get('publicatiedatum')?.hasError('matDatepickerMax')">
          Datum mag niet meer dan een jaar in de toekomst liggen
        </mat-error>
        <mat-error *ngIf="addBookForm.get('publicatiedatum')?.hasError('matDatepickerMin')">
          Datum mag niet voor het jaar 1500 zijn
        </mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <br/>
  <div class="bottom-buttons">
    <button mat-raised-button color="primary" type="button" (click)="goBack()">Terug</button>
    <button mat-raised-button color="primary"  type="submit">Opslaan</button>
  </div>
</form>
